@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
  --cat-color: #000000;
}



.no_highlights{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {  
  background-color: rgb(255, 255, 255) !important;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

canvas {
  width: 100%;
  height: 100%;
}

#all {
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvas {
  background: rgb(255, 255, 255);
}

.username-lg {
  font-family: 'Poppins', sans-serif;
  font-size: 65px;
  color: rgb(255, 255, 255);
  transition: color 0.7s linear; 
}

.hero-action {
  font-family: 'Poppins', sans-serif;
  float: right;
  font-size: 40px;
  transition: color 0.7s linear;    
  
}

#action, #mob-action{
  text-decoration: underline;
  text-decoration-thickness: 1.5px; 
  text-underline-position: under;
}

.hero-action:hover{
  
}

.social-url-wrapper {
  text-decoration: none;
}

.social-media-icon {
  font-size: 44px;
  text-align: center;
  color: transparent;
  transition: color 0.7s linear;
 
}

.social-media-icon:hover {
  background: rgba(61, 55, 55, 0.333);
  border-radius: 10px;
  color: white !important;
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

.fs-35 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  transition: 0.5s linear;
  font-family: 'Poppins', sans-serif;
}

.w-100.mt-5 {
  background: #34e89e;
  height: 2px;
  transition: 0.5s linear;
}

#app {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s ease;
}

.preloader {
  align-items: center;
  background: rgb(255, 255, 255);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

canvas#canvas {
  position: fixed;
  z-index: 1;
  top: 0;
  background: transparent;
  left: 0;
  height: auto;
  width: 100vw;
}



a{
  text-decoration: none;
}

.hero-name{
  
  text-decoration: underline;
  text-decoration-thickness: 3px; 
  text-underline-position: under;
  transition: color 0.7s linear;
}

.hero-name:hover{
  cursor:pointer;
 
}

.nav-link{
  font-size: 22px !important;
}

.navbar{
  position:relative;
  top:40px;
}

.hero-action:hover, .nav-item a:hover:after {
  cursor:pointer !important;
  
}
.nav-item a:hover  {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.latest-link, .text-muted {
  font-size: 14px ;  
  display: inline;
  color: var(--cat-color) !important;
}

.text-muted {
  opacity:0.6
}

.latest-link:hover{
  text-decoration: underline;
}

#lat-fol-link{
  font-size:16px;
}


/*

@media only screen and  (max-width:1660px){
  .username-lg {
    font-size: 65px;
  }
  .hero-action {
    font-size: 40px;
  }
  .fs-35 {
    font-size: 18px;
  }
  .nav-link{
    font-size: 22px !important;
  }
  .latest-link, .text-muted {
    font-size: 14px ;  
  }
  #lat-fol-link{
    font-size:16px;
  }
  .social-media-icon {
    font-size: 40px;   
  }  
}
*/

.display-mob{
  display: none;
}

@media only screen and  (max-width:1660px){
  .username-lg {
    font-size: 46px;
  }
  .hero-action {
    font-size: 33px;
  }
  .nav-link{
    position:relative;
    right:100px;
  }
}

@media only screen and  (max-width:1180px){
  .username-lg {
    font-size: 36px;
  }
  .hero-action {
    font-size: 20px;
  }
  .nav-link{
    position:relative;
    right:150px;
  }
  .latest-link, .text-muted, #lat-fol-link {
    font-size: 12px ;  
  }
  .fs-35 {
    font-size: 14px;
  }
}

@media only screen and  (max-width:992px){

  .hero-action {
    text-align: end;
  }
  
  .hide-mob{
    display:none;
  }
  
  .display-mob{
    display:inline;
  }
  
  
}

@media only screen and  (max-width:925px){
  .username-lg {
    font-size: 28px;
  }
  .hide-mob-2{
    display:none;
  }
  
  .herosection{
    position:relative;
    bottom: 300px;
  }
}

@media only screen and  (max-width:768px){
  .username-lg {
    font-size: 20px;
  }
}

